aiofiles
aiohttp
aiosignal
async-timeout
attrs
blinker
certifi
charset-normalizer
click
discord
discord.py
docopt
frozenlist
h11
h2
hpack
hypercorn
hyperframe
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
multidict
pipreqs
priority
pynput
pyobjc-core
pyobjc-framework-ApplicationServices
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
quart
requests
six
toml
urllib3
Werkzeug
wsproto
yarg
yarl
zipp